@import url('https://fonts.googleapis.com/css?family=Poppins: 300,400,500,600,700,800,900display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
html{
	scroll-behavior: smooth;
}
*
{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: poppins, sans-serif;
}
body{
	overflow-x: hidden;
	background: #fff;
	min-height: 100%;
}
#headbar{
	height: 15%;
	width: 100%;
	position: relative;	
}
.container{
	padding: 2% 5%;
    width: 100%;
    justify-content: space-between;
}
.sub-container{
	width: 20%;
	height: 20%;
	float: left ;
}
.sub-container1{
	font-family: poppins;
	margin-top: 2%;
	font-size: 150%;
}
.bar{
	padding: 2%;
	margin-left: 25%;
}
.bar ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.bar ul li{
	list-style: none;
	margin-left: 15px;
}
.bar ul li a{
	padding:6px 15px ;
	color: rgb(16, 94, 124);
	border-radius: 20px;
	text-decoration: none;
}
.bar ul li a:hover,
.bar ul li a.active {
	background: rgb(16, 94, 124);
	color: #fff;
}
#buttons{
	font-size: 120%;
}
#home{
	position: relative;
	width: 100%;
	height: 73vh;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 2.3%;
}
.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(img3.jpg);
	background-size: 60%;
	background-position: center;
	margin-right: 42.5%;
	background-repeat: no-repeat;
	margin-top: 4%;
	margin-left: -1.5%;
	clip-path: circle(10);
}
.paper{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(img2.jpg);
	background-position: center;
	margin-right: 40%;
	background-size: 90%;
	mix-blend-mode: screen;
	filter: brightness(1.4);
}
#btn
{
	text-decoration:none;
	display: inline-block;
	padding: 8px 30px;
	background: rgb(16, 94, 124) ;
	color: #fff;
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 2px;
	border-radius: 40px;	
	transform: translateY(50px);
	z-index: 1;
	margin-left: 40%;
}
#section1{
	background-color: #fff;
	position: relative;
	width: 100%;
	height: 100vh;
}
#section2{
	background-color: #fff;
	position: relative;
	width: 100%;
	height: 100vh;
}
#section3{
	background-color: #fff;
	position: relative;
	width: 100%;
	height: 100vh;
}
#section4{
	background-color: #fff;
	position: relative;
	width: 100%;
	height: 100vh;
}
@media only screen and (max-width:1080px) {
	#buttons{
		font-size: 100%;
	}
	.bar ul li{
		margin-left: 0px;
	}
	#btn{
		font-size: 90%;
		margin-left: 40%;
	}
	.bg{
		background-size: 60%;
		margin-left: -1%;
	}
	.paper{
		background-size: 90%;
	}
}
@media only screen and (max-width:908px) {
	.sub-container1{
		font-size: 130%;
	}
	#buttons{
		font-size: 90%;
	}
	.bar ul li{
		margin-left: 0px;
	}
	#btn{
		font-size: 90%;
		margin-left: 40%;
	}
	.bg{
		background-size: 60%;
		margin-left: -1%;
	}
	.paper{
		background-size: 90%;
	}
}
@media only screen and (max-width:784px){
	.sub-container1{
		font-size: 110%;
	}
	#buttons{
		font-size: 80%;
	}
	#headbar{
		z-index: 2;
	}
	.bar ul li{
		margin-left: 0px;
	}
	#btn{
		font-size: 90%;
	}
	#home{
		margin-top: -5%;
	}
}
@media only screen and (max-width:720px){
	.sub-container1{
		font-size: 108%;
	}
	#buttons{
		font-size: 70%;
	}
	.bar ul li{
		margin-left: 0px;
	}
	#home{
		margin-top: -10%;
	}
	
}
@media only screen and (max-width:656px){
	.sub-container1{
		font-size: 98%;
	}
	#buttons{
		font-size: 60%;
	}
	.bar ul li{
		margin-left: 0px;
	}
}
@media only screen and (max-width:593px){
	.sub-container1{
		font-size: 90%;
	}
	#buttons{
		font-size: 70%;
	}
	.bar ul{
		display: grid;
	}
	.bar ul li{
		margin-right: 30;
		margin-top: 4px;
		text-align: center;

	}
	.sub-container{
		width: 30%;
		height: 30%;
	}
	.bar ul{
		margin-left: -30%;
	}
	#home{
		display: block;
	}
	#btn{
		text-align: center;
		font-size: 60%;
		margin-top: 55%;
	}
	#bg1{
		margin-top: 40%;
		margin-left: 2%;
	}
}
@media only screen and (max-width:593px){
	#btn{
		margin-top: 60%;
	}
	#bg1{
		margin-top: -30%;
		margin-left: 2%;
	}
}
